APP_NAME=Cleanytics API
APP_ENV=development
DEBUG=true

DATABASE_URL=postgresql+asyncpg://root:122626@192.168.1.50:5432/Cleanytics

REDIS_URL=redis://localhost:6379/0

SECRET_KEY=change-this-development-secret