fastapi
uvicorn[standard]
sqlalchemy
asyncpg
pydantic-settings
python-dotenv
alembic
python-multipart
redis
celery
passlib[bcrypt]
bcrypt
PyJWT
minio
pandas
openpyxl
httpx
pytest
pytest-asyncio
email-validator
aiosqlite



