.env
.env.*
!.env.example

# Python cache
__pycache__/
*.py[cod]

# Testing
.pytest_cache/

# Virtual environments
.venv/
venv/

# Database files
*.db
*.sqlite3

# Temporary Code Runner files
tempCodeRunnerFile.py